//Archivo de configuraciones de reglas extras para soportar react vue

//plugins para soportar las nuevas capacidades de javascript
//presets = configuraciones
{
    "plugins": [
        "@babel/plugin-transform-runtime"
    ],
    "presets": [
        "@babel/preset-env"
    ]
}