//Archivo de configuraciones de reglas extras para soportar react vue

//plugins para soportar las nuevas capacidades de javascript
//presets = configuraciones
{
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ]
}